<h1>Список вопросов теста</h1>

<table>
  <thead>
    <tr>
      <th>Вопрос</th>
      <th colspan="3">Действия</th>
    </tr>
  </thead>

  <tbody>
    <%= render @questions %>
  </tbody>
</table>

<br>

<p><%= link_to "Создать новый вопрос", new_test_question_path %></p>

<p><%= link_to 'Вернуться', tests_path %></p>
