<footer>
  <p>
    <%= current_year %> &copy; Thinknetica
  </p>

  <p>
    Проект: <%= github_url('test-guru', 'psingularity', 'test-guru') %>
  </p>

  <p>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :_blank %>
  </p>
</footer>