<h1>Тесты</h1>

<table>
  <thead>
    <tr>
      <th>Название теста</th>
      <th>Уровень</th>
      <th>Категория</th>
      <th>ID автора</th>
      <th>Количество вопросов</th>
      <th colspan="4">Действия</th>
    </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>

<br>

<%= link_to "Создать новый тест", new_test_path %>
